services:
  - type: web
    name: stream-ml-pipeline
    env: docker
    repo: https://github.com/<your-username>/<your-repo>
    dockerCommand: docker compose up --build
    plan: starter
    autoDeploy: true
    envVars:
      - key: POSTGRES_USER
        value: postgres
      - key: POSTGRES_PASSWORD
        value: 1234
      - key: POSTGRES_DB
        value: stock_db
      - key: KAFKA_BROKER
        value: kafka:29092
    disk:
      name: stream-pipeline-data
      mountPath: /var/lib/postgresql/data
      sizeGB: 1